# Load data to Planning Analytics cube

1. Import data
2. Setup credentials
3. Create cellset
4. Push data to Planning Analytics

In [1]:
import pandas as pd

In [ ]:
!pip install TM1py

## 1 - Import data

In [3]:
df = pd.read_csv('/Users/leonardofurnielis/Downloads/pa-dataset-sales.csv', delimiter=',')

In [4]:
df.head()

   Store Store_Type    Region      Date Version    Sales
0      1         S1  US South  01/01/18  Actual  7011839
1    253         S4  US South  01/01/18  Actual  5178912
2    252         S3  US South  01/01/18  Actual   368682
3    251         S2  US South  01/01/18  Actual  1971516
4    250         S2   US West  01/01/18  Actual  4561452

## 2 - Setup credentials

In [ ]:
tm1_credentials = {
    "address": "",
    "port": "",
    "user": "",
    "password": "",
    "ssl": False,
}

## 3 - Create cellset

In [ ]:
cellset = {(Store, Store_Type, Region, Date, Version):Sales for Store, Store_Type, Region, Date, Version, Sales in df.values}

In [ ]:
cellset

## 4 - Push data to Planning Analytics

In [ ]:
from TM1py.Services import TM1Service

In [ ]:
with TM1Service(address=tm1_credentials['address'], port=tm1_credentials['port'], user=tm1_credentials['user'],
password=tm1_credentials['password'], ssl=tm1_credentials['ssl']) as tm1:
    tm1.cubes.cells.write_values('Sales',cellset, dimentions=['Store', 'Store_Type', 'Region', 'Date', 'Version'])